/* Lisa Terwilliger
    Lab04  */

/* rule: make all text in the body 16px in the Comic Sans MS font. Use cursive if previous
         is not installed on viewer's browser  */
body {
font: 16px "Comic Sans MS", cursive;
background: url("Blue-rule.png");
}

strong {   background-color: #ddf; /* pale blue */
           color: #f00; /* red */
           font: 200% serif;
}

/* IDs */
#first { font-style: italic; }
#second { color: blue; }

/*classes*/
/*.carrot { color: #fa0;  orange  } */
.spinach { 
	color: #080; /* dark green */
	background-color: #ddf;
} 

/* elements */
p:before{
  content: url("Yellow-pin.png");
}
p { color: #00f; /* blue */ }



